<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthierexpert">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MedicineReminder">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FAQs" />
        <activity android:name=".ChildCare" />
        <activity android:name=".CalorieCounter" />
        <activity android:name=".Hair_skin" />
        <activity android:name=".weight_o_meter" />
        <activity android:name=".RelativeName" />
        <activity android:name=".Profile" />
        <activity android:name=".Guidelines" />
        <activity android:name=".Activity" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".IntroSlider" />
        <activity android:name=".EmailVerification" />
        <activity android:name=".ProfilePictureSuccessful" />
        <activity android:name=".email_verification_successful" />
        <activity android:name=".AddProfilePicture" />
        <activity android:name=".signup" />
        <activity android:name=".hairskincat" />
        <activity android:name=".forgotpass">
        </activity>
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".newpass" />
        <activity android:name=".otpsend" />

        <activity android:name=".EditMedicineDetails"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>